.container {
    background: url('https://img.freepik.com/premium-vector/message-icon-made-with-binary-code-email-mail-communication-online-chat-global-networking-digital-binary-data-streaming-digital-code-matrix-background-with-digits-10-vector-illustration_127544-1917.jpg?w=1060') no-repeat fixed;
    background-size: cover;
    overflow: hidden;
}